footer{
    box-sizing: border-box;
    font-size: 1.2rem;
    height: 3.4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
    background: rgb(27, 90, 190);
}